<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">'430'</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

		<!-- Setup Hibernate settings -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="current_session_context_class">thread</property>

		<!-- Hibernate mapping files -->
		<mapping resource="hibernateDemo/Student.hbm.xml" />
		 <mapping resource="hibernateDemo/Course.hbm.xml" />

	</session-factory>
</hibernate-configuration>
